* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  position: relative;
  font-family: 'Lato', sans-serif;
  background-image: url("/moreno/imagenes/citrus.jpg");
  background-size: cover;
}

header {
  width: 100%;
  overflow: auto;
  font-family: 'Noto Sans JP', sans-serif;
  max-width: 1280px;
}

header .logo {
  margin-left: 150px;
  color: aliceblue;
  line-height: 200px;
  float: left;
  font-weight: bolder;
}

header nav {
  margin-right: 45px;
  float: right;
  line-height: 235px;
  font-family: 'Lucida Sans', Verdana, sans-serif;
}

header nav a {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  line-height: normal;
}

header nav a:hover {
  color: aliceblue;
}

#patagonia {
  background-image: url("/moreno/imagenes/patagonia.jpeg");
  background-size: cover;
}

#Chichifondo {
  background-image: url("/moreno/imagenes/chichi153.jpg");
  background-size: cover;
}

#Levisfondo {
  background-image: url("/moreno/imagenes/levis12.jpg");
  background-size: cover;
}

#Markovafondo {
  background-image: url("/moreno/imagenes/markova84.jpg");
  background-size: cover;
}

#Tiendasfondo {
  background-image: url("/moreno/imagenes/tiendas76.jpg");
  background-size: cover;
}

#contactofondo {
  background-image: url("/moreno/imagenes/citrus.jpg");
  background-size: cover;
}

#gianduia {
  background-image: url("/moreno/imagenes/marco36.jpg");
  background-size: cover;
}

.texto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 45px;
  text-align: justify;
  font-size: 12px;
  padding: 45px;
  background-color: #2424248f;
  color: aliceblue;
  margin-top: -20px;
}

input {
  background: #1f1f1fc2;
  font-size: 12px;
  width: 300px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  outline: none;
  border: #1f1f1fc2;
  color: aliceblue;
}

input::-webkit-input-placeholder {
  color: aliceblue;
  font-size: 12px;
}

input:hover::-webkit-input-placeholder {
  color: aliceblue;
  font-size: 12px;
}

input:hover:focus::-webkit-input-placeholder {
  color: aliceblue;
}

input:hover:focus:-ms-input-placeholder {
  color: #aba992;
}

input:hover:focus::-ms-input-placeholder {
  color: #aba992;
}

input:hover:focus::placeholder {
  color: #aba992;
}

input:hover::-webkit-input-placeholder {
  color: aliceblue;
  font-size: 12px;
}

input:hover:-ms-input-placeholder {
  color: aliceblue;
  font-size: 12px;
}

input:hover::-ms-input-placeholder {
  color: aliceblue;
  font-size: 12px;
}

input:hover::placeholder {
  color: aliceblue;
  font-size: 12px;
}

#form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  width: 300px;
  margin: 50px auto 100px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#submit {
  background: #1f1f1fc2;
  border: #1f1f1fc2;
  width: 330px;
  padding: 0;
  margin: 0px 0px 0px 0px;
  font-size: 0.875em;
  outline: none;
  cursor: pointer;
  border-top: none;
  color: aliceblue;
}

#submit:hover {
  background: #131313c2;
  color: #aba992;
}

.nosotros {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 35px;
  text-align: justify;
  font-size: 12px;
  padding: 25px;
  background-color: #2424248f;
  color: aliceblue;
  margin-top: -20px;
}

a:link {
  text-decoration: none;
  color: #aba992;
}

a:visited {
  color: #aba992;
}

a:hover {
  color: aliceblue;
}

.mask {
  width: 135px;
  height: 175px;
  border-radius: 2px;
  float: left;
  vertical-align: middle;
  margin-right: 15px;
}

#proyectos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  padding: 13px;
  text-align: center;
  font-size: 12px;
  font-weight: bolder;
  background-color: #1f1f1fc2;
  margin-top: -20px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--dark);
  color: white;
  background-color: #20202000;
  font-size: 12px;
}

footer .social-link:nth-of-type(2) {
  background-image: url(/moreno/imagenes/icons8-twitter-64.png);
}

footer .social-link:nth-of-type(3) {
  background-image: url(/moreno/imagenes/icons8-instagram-48.png);
}

.copyright-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: aliceblue;
}

.copyright-container .copyright {
  font-weight: 400;
  padding: 10px 0;
}

.social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 100%;
}

.social-container .social-link {
  height: 100%;
  width: 30px;
  background-image: url(/moreno/imagenes/icons8-facebook-f-50.png);
  background-size: 70%;
  background-position: center;
  margin-right: 1rem;
  background-repeat: no-repeat;
}

.social-container .social-link:hover {
  opacity: 0.3;
}

@media screen and (max-width: 2000px) {
  .logo {
    font-size: 60px;
    margin-top: 25px;
  }
  nav {
    font-size: 12px;
  }
}

@media screen and (max-width: 830px) {
  #form {
    height: auto;
    text-align: center;
  }
  .texto {
    margin-top: 10px;
    padding: 35px;
  }
  .nosotros {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin-top: 10px;
    padding: 35px;
    grid-column-gap: 35px;
    font-size: 10px;
  }
  #proyectos {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 2px;
    margin-top: 10px;
    padding: auto;
  }
  footer {
    font-size: 10px;
  }
  header .logo {
    width: 100%;
    text-align: center;
    line-height: 80px;
    margin-left: 0px;
  }
  header nav {
    width: 100%;
    text-align: center;
    line-height: 35px;
    margin-right: 0px;
    font-size: 10px;
  }
}

@media screen and (max-width: 830px) and (max-width: 586px) {
  #proyectos {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    font-size: 10px;
    text-align: center;
  }
  .texto {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-top: 10px;
    padding: 10px;
  }
  .nosotros {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 25px;
  }
  #gaston {
    padding-top: 12px;
  }
  .logo {
    text-align: center;
    font-size: 40px;
    margin-top: 35px;
  }
}

@media screen and (max-width: 830px) and (max-width: 586px) and (max-width: 380px) {
  #proyectos {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    font-size: 10px;
  }
  .logo {
    text-align: center;
    font-size: 35px;
    margin-top: 25px;
  }
  .texto {
    font-size: 10px;
  }
  footer {
    font-size: 9px;
  }
  .mask {
    width: 75px;
    height: 95px;
  }
}

/*************************/
/*# sourceMappingURL=index.css.map */