* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  width: 100%;
  overflow: hidden;
  background: #1f1f1f;
  margin-bottom: 20px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bolder;
}

header .logo {
  color: aliceblue;
  font-size: 60px;
  line-height: 200px;
  float: left;
}

header nav {
  float: right;
  line-height: 200px;
}

header nav a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: inline-block;
  color: aliceblue;
  text-decoration: none;
  padding: 10px 20px;
  line-height: normal;
  font-size: 12px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

header nav a:hover {
  border-radius: 2px;
  color: aliceblue;
}

.wrapper {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.header2 {
  position: fixed;
  height: 100px;
}

.header2 .logo {
  line-height: 100px;
  font-size: 30px;
}

.header2 nav {
  line-height: 100px;
}

@media screen and (max-width: 950px) {
  header .logo {
    width: 100%;
    text-align: center;
    line-height: 100px;
  }
  header nav {
    width: 100%;
    text-align: center;
    line-height: 100px;
  }
  .header2 {
    height: auto;
  }
  .header2 .logo {
    line-height: 50px;
  }
  .header2 nav {
    line-height: 50px;
  }
}

body {
  font-family: 'Lato', sans-serif;
  color: #2e2e2e;
  background-color: #9b4831;
  width: 100%;
  height: 100vh;
}

#patagonia {
  background-image: url("/moreno/imagenes/patagonia.jpeg");
}

#Chichifondo {
  background-image: url("/moreno/imagenes/Chichimamerry-156.jpg");
}

#Levisfondo {
  background-image: url("/moreno/imagenes/levis.jpeg");
}

#Markovafondo {
  background-image: url("/moreno/imagenes/marko.jpeg");
}

#Tiendasfondo {
  background-image: url("/moreno/imagenes/Tiendas Naturales-70.jpg");
}

#contactofondo {
  background-color: #1f1f1f;
}

.texto {
  position: absolute;
  bottom: 35px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  background-color: aliceblue;
  border-radius: 2px;
  margin: 25px;
  text-align: justify;
  font-size: 12px;
  padding: 12px;
}

input {
  background: #1f1f1f15;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  outline: none;
  border: #1f1f1f15;
  border-bottom: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input::-webkit-input-placeholder {
  color: aliceblue;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder {
  color: aliceblue;
}

input:focus:-ms-input-placeholder {
  color: #1f1f1f;
}

input:focus::-ms-input-placeholder {
  color: #1f1f1f;
}

input:focus::placeholder {
  color: #1f1f1f;
}

input:focus::-ms-placeholder {
  color: aliceblue;
}

input::-webkit-input-placeholder {
  color: #1f1f1f;
  font-size: 0.875em;
}

input:-ms-input-placeholder {
  color: #1f1f1f;
  font-size: 0.875em;
}

input::-ms-input-placeholder {
  color: #1f1f1f;
  font-size: 0.875em;
}

input::placeholder {
  color: #1f1f1f;
  font-size: 0.875em;
}

input::-ms-placeholder {
  color: aliceblue;
  font-size: 0.875em;
}

input:hover {
  background: #1f1f1f;
  color: #aba992;
}

input:hover::-webkit-input-placeholder {
  color: aliceblue;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder {
  color: aliceblue;
}

input:hover:focus:-ms-input-placeholder {
  color: #aba992;
}

input:hover:focus::-ms-input-placeholder {
  color: #aba992;
}

input:hover:focus::placeholder {
  color: #aba992;
}

input:hover:focus::-ms-placeholder {
  color: #aba992;
}

input:hover::-webkit-input-placeholder {
  color: aliceblue;
  font-size: 0.875em;
  color: aliceblue;
  font-size: 0.875em;
}

input:hover:-ms-input-placeholder {
  color: aliceblue;
  font-size: 0.875em;
  color: aliceblue;
  font-size: 0.875em;
}

input:hover::-ms-input-placeholder {
  color: aliceblue;
  font-size: 0.875em;
  color: aliceblue;
  font-size: 0.875em;
}

input:hover::placeholder {
  color: aliceblue;
  font-size: 0.875em;
  color: aliceblue;
  font-size: 0.875em;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  background: #1f1f1f15;
  outline: none;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  border: #1f1f1f15;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea::-webkit-input-placeholder {
  color: aliceblue;
  font-size: 0.875em;
}

textarea:focus::-webkit-input-placeholder {
  color: aliceblue;
}

textarea:focus::-moz-placeholder {
  color: #aba992;
}

textarea:focus:placeholder {
  color: #1f1f1f;
}

textarea:focus::-ms-placeholder {
  color: aliceblue;
}

textarea::-webkit-input-placeholder {
  color: #1f1f1f;
  font-size: 0.875em;
}

textarea:-ms-input-placeholder {
  color: #1f1f1f;
  font-size: 0.875em;
}

textarea::-ms-input-placeholder {
  color: #1f1f1f;
  font-size: 0.875em;
}

textarea::placeholder {
  color: #1f1f1f;
  font-size: 0.875em;
}

textarea::-ms-placeholder {
  color: aliceblue;
  font-size: 0.875em;
}

textarea:hover {
  background: #1f1f1f;
  color: #aba992;
}

textarea:hover::-webkit-input-placeholder {
  color: aliceblue;
  font-size: 0.875em;
}

textarea:hover:focus::-webkit-input-placeholder {
  color: aliceblue;
}

textarea:hover:focus:-moz-placeholder {
  color: #aba992;
}

textarea:hover:focus:placeholder {
  color: #aba992;
}

textarea:hover:focus:-ms-placeholder {
  color: #aba992;
}

textarea:hover::-webkit-input-placeholder {
  color: aliceblue;
  font-size: 0.875em;
  color: aliceblue;
  font-size: 0.875em;
}

textarea:hover:-ms-input-placeholder {
  color: aliceblue;
  font-size: 0.875em;
  color: aliceblue;
  font-size: 0.875em;
}

textarea:hover::-ms-input-placeholder {
  color: aliceblue;
  font-size: 0.875em;
  color: aliceblue;
  font-size: 0.875em;
}

textarea:hover::placeholder {
  color: aliceblue;
  font-size: 0.875em;
  color: aliceblue;
  font-size: 0.875em;
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

#submit {
  background: #1f1f1f15;
  width: 470px;
  padding: 0;
  margin: -5px 0px 0px 0px;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  border: #1f1f1f15;
  outline: none;
  cursor: pointer;
  border-top: none;
  color: #1f1f1f;
}

#submit:hover {
  background: #1f1f1f;
  color: #aba992;
}

.nosotros {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 75px;
  text-align: justify;
  font-size: 12px;
  padding: 45px;
  background-color: #232425;
  color: #aba992;
  margin-top: -20px;
}

a:link {
  text-decoration: none;
  color: #aba992;
}

a:visited {
  color: #aba992;
}

a:hover {
  color: aliceblue;
}

#proyectos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  padding: 15px;
  text-align: center;
  font-size: 13px;
  font-weight: bolder;
  padding: 12px;
  background-color: #232425;
  margin-top: -20px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bolder;
}

@media screen and (max-width: 768px) {
  #form {
    height: auto;
    text-align: center;
  }
  .nosotros {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #proyectos {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 576px) {
  #proyectos {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  position: absolute;
  bottom: 0;
  padding: 12px;
  font-size: 11px;
  padding: 12px;
  color: aliceblue;
}

footer .social-link:nth-of-type(2) {
  background-image: url(/moreno/imagenes/InstagramBlanco.png);
}

footer .social-link:nth-of-type(3) {
  background-image: url(/moreno/imagenes/icons8-twitter-64.png);
}

.menu-item-footer:hover {
  opacity: 2;
}

.social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25px;
  width: 100%;
}

.social-link {
  height: 100%;
  width: 30px;
  background-image: url(/moreno/imagenes/icons8-facebook-f-50.png);
  background-size: 70%;
  background-position: center;
  margin-right: 1rem;
  background-repeat: no-repeat;
}

.social-link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 576px) {
  footer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=index.css.map */