* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  width: 100%;
  overflow: hidden;
  background: #ffffff00;
  margin-bottom: 20px;
  /*font-family: 'Noto Sans JP', sans-serif;
	font-weight: bolder;*/
}

header .logo {
  color: aliceblue;
  font-size: 60px;
  line-height: 200px;
  float: left;
}

header nav {
  float: right;
  line-height: 200px;
}

header nav a {
  display: inline-block;
  color: aliceblue;
  text-decoration: none;
  padding: 20px;
  line-height: normal;
  font-size: 12px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

header nav a:hover {
  color: aliceblue;
}

.wrapper {
  width: 85%;
  max-width: 850px;
  margin: auto;
  overflow: hidden;
}

@media screen and (max-width: 950px) {
  header .logo {
    width: 100%;
    text-align: center;
    line-height: 100px;
  }
  header nav {
    width: 100%;
    text-align: center;
    line-height: 100px;
  }
  .header2 {
    height: auto;
  }
  .header2 .logo {
    line-height: 50px;
  }
  .header2 nav {
    line-height: 50px;
  }
}

body {
  font-family: 'Lato', sans-serif;
  color: #2e2e2e;
  background-image: url("/moreno/imagenes/Tiendas Naturales-90.jpg");
  width: 100%;
  height: 100vh;
}

#patagonia {
  background-image: url("/moreno/imagenes/patagonia.jpeg");
}

#Chichifondo {
  background-image: url("/moreno/imagenes/Chichimamerry-156.jpg");
}

#Levisfondo {
  background-image: url("/moreno/imagenes/levis.jpeg");
}

#Markovafondo {
  background-image: url("/moreno/imagenes/marko.jpeg");
}

#Tiendasfondo {
  background-image: url("/moreno/imagenes/Tiendas Naturales-70.jpg");
}

#contactofondo {
  background-image: url("/moreno/imagenes/Tiendas Naturales-90.jpg");
}

.texto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 75px;
  text-align: justify;
  font-size: 12px;
  padding: 45px;
  background-color: #2424248f;
  color: aliceblue;
  margin-top: -20px;
}

input {
  background: #1f1f1f67;
  font-size: 12px;
  width: 300px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  outline: none;
  border: #1f1f1f00;
  color: aliceblue;
}

input::-webkit-input-placeholder {
  color: aliceblue;
  font-size: 12px;
}

input:hover::-webkit-input-placeholder {
  color: aliceblue;
  font-size: 12px;
}

input:hover:focus::-webkit-input-placeholder {
  color: aliceblue;
}

input:hover:focus:-ms-input-placeholder {
  color: #aba992;
}

input:hover:focus::-ms-input-placeholder {
  color: #aba992;
}

input:hover:focus::placeholder {
  color: #aba992;
}

input:hover::-webkit-input-placeholder {
  color: aliceblue;
  font-size: 12px;
}

input:hover:-ms-input-placeholder {
  color: aliceblue;
  font-size: 12px;
}

input:hover::-ms-input-placeholder {
  color: aliceblue;
  font-size: 12px;
}

input:hover::placeholder {
  color: aliceblue;
  font-size: 12px;
}

#form {
  /*position: relative;*/
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  width: 300px;
  margin: 50px auto 100px auto;
}

#submit {
  background: #1f1f1f15;
  border: #1f1f1f00;
  width: 300px;
  padding: 0;
  margin: 0px 0px 0px 0px;
  font-size: 0.875em;
  outline: none;
  cursor: pointer;
  border-top: none;
  color: aliceblue;
}

#submit:hover {
  background: #1f1f1f;
  color: #aba992;
}

.nosotros {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 75px;
  text-align: justify;
  font-size: 12px;
  padding: 45px;
  background-color: #2424248f;
  color: aliceblue;
  margin-top: -20px;
}

a:link {
  text-decoration: none;
  color: #aba992;
}

a:visited {
  color: #aba992;
}

a:hover {
  color: aliceblue;
}

#proyectos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  padding: 13px;
  text-align: center;
  font-size: 12px;
  font-weight: bolder;
  background-color: #1f1f1f;
  margin-top: -20px;
}

@media screen and (max-width: 768px) {
  #form {
    height: auto;
    text-align: center;
  }
  .nosotros {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    font-size: 10px;
  }
  .texto {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #proyectos {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 576px) {
  #proyectos {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body {
  height: 100vh;
  width: 100%;
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--dark);
  color: white;
  background-color: #20202000;
  font-size: 12px;
}

footer .social-link:nth-of-type(2) {
  background-image: url(/moreno/imagenes/icons8-twitter-64.png);
}

footer .social-link:nth-of-type(3) {
  background-image: url(/moreno/imagenes/icons8-instagram-48.png);
}

.copyright-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: aliceblue;
}

.copyright {
  opacity: 0.7;
  font-weight: 400;
  padding: 10px 0;
}

.footer-menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 35%;
  color: aliceblue;
}

.footer-container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: 3rem 6rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: aliceblue;
}

.footer-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-info {
  margin: 0.2rem 0;
  opacity: 0.7;
  color: white;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu-item-footer {
  margin: 0.2rem 0;
  opacity: 0.7;
  color: white;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu-item-footer:hover {
  opacity: 1;
}

.menu-title {
  font-size: var(--medium-text-font);
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 100%;
}

.social-link {
  height: 100%;
  width: 30px;
  background-image: url(/moreno/imagenes/icons8-facebook-f-50.png);
  background-size: 70%;
  background-position: center;
  margin-right: 1rem;
  background-repeat: no-repeat;
}

.social-link:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  .footer-container {
    padding: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-content-container {
    width: 100%;
    padding: 2rem 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-content-container:nth-of-type(1) {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer-content-container:nth-of-type(3) {
    border-bottom: none;
    padding-bottom: 0;
  }
  .footer-menus {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer-menus .footer-content-container:nth-of-type(1) {
    width: 45%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border-bottom: none;
  }
  .footer-menus .footer-content-container:nth-of-type(2) {
    width: 45%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border-bottom: none;
  }
}

body {
  height: 100vh;
  width: 100%;
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--dark);
  color: white;
  background-color: #20202000;
  font-size: 12px;
}

footer .social-link:nth-of-type(2) {
  background-image: url(/moreno/imagenes/icons8-twitter-64.png);
}

footer .social-link:nth-of-type(3) {
  background-image: url(/moreno/imagenes/icons8-instagram-48.png);
}

.copyright-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: aliceblue;
}

.copyright-container .copyright {
  font-weight: 400;
  padding: 10px 0;
}

.social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 100%;
}

.social-container .social-link {
  height: 100%;
  width: 30px;
  background-image: url(/moreno/imagenes/icons8-facebook-f-50.png);
  background-size: 70%;
  background-position: center;
  margin-right: 1rem;
  background-repeat: no-repeat;
}

.social-container .social-link:hover {
  opacity: 0.3;
}
/*# sourceMappingURL=index.css.map */