* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	width: 100%;
	position: relative;
	font-family: 'Lato', sans-serif;
	background-image: url("/moreno/imagenes/citrus.jpg");
	background-size: cover;
}

header {
	width: 100%;
	overflow: auto;
	font-family: 'Noto Sans JP', sans-serif;
	max-width: 1280px;
	

	.logo {
		margin-left: 150px;
		color: aliceblue;
		font-size: 60px;
		line-height: 200px;
		float: left;
		font-weight: bolder;
	}

	nav {
		margin-right: 45px;
		float:right;
		line-height: 210px;
		font-family: 'Lucida Sans', Verdana, sans-serif;
		font-size: 12px;

		a {
			display: inline-block;
			text-decoration: none;
			padding: 15px;
			line-height: normal;
			&:hover {
				color: aliceblue;
			}
		}
	}
}

#patagonia {
	background-image: url("/moreno/imagenes/patagonia.jpeg");
	background-size: cover;
}

#Chichifondo {
	background-image: url("/moreno/imagenes/chichi153.jpg");
	background-size: cover;
}

#Levisfondo {
	background-image: url("/moreno/imagenes/levis12.jpg");
	background-size: cover;
}

#Markovafondo {
	background-image: url("/moreno/imagenes/markova84.jpg");
	background-size: cover;
}

#Tiendasfondo {
	background-image: url("/moreno/imagenes/tiendas76.jpg");
	background-size: cover;
}

#contactofondo {
	background-image: url("/moreno/imagenes/citrus.jpg");
	background-size: cover;
}

#gianduia {
	background-image: url("/moreno/imagenes/marco36.jpg");
	background-size: cover;
}

.texto {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 45px;
	text-align: justify;
	font-size: 12px;
	padding: 45px;
	background-color: #2424248f;
	color: aliceblue;
	margin-top: -20px;
}

input {
	&::-webkit-input-placeholder {
		color: aliceblue;
		font-size: 12px;
	}

	&:hover {
		&::-webkit-input-placeholder {
			color: aliceblue;
			font-size: 12px;
		}

		&:focus {
			&::-webkit-input-placeholder {
				color: aliceblue;
			}

			&::-moz-placeholder {
				color: #aba992;
			}

			&::placeholder {
				color: #aba992;
			}
		}

		&::-moz-placeholder {
			color: #aba992;
			font-size: 12px;
		}

		&::placeholder {
			color: aliceblue;
			font-size: 12px;
		}
	}

	background: #1f1f1fc2;
	font-size: 12px;
	width: 300px;
	height: 50px;
	padding: 0px 15px 0px 15px;
	outline: none;
	border: #1f1f1fc2;
	color: aliceblue;
}

#form {
	display: grid;
	grid-template-columns: 1fr;
	width: 300px;
	margin: 50px auto 100px auto;
}

#submit {
	background: #1f1f1fc2;
	border: #1f1f1fc2;
	width: 330px;
	padding: 0;
	margin: 0px 0px 0px 0px;
	font-size: 0.875em;
	outline: none;
	cursor: pointer;
	border-top: none;
	color: aliceblue;

	&:hover {
		background: #131313c2;
		color: #aba992;
	}
}

.nosotros {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 75px;
	text-align: justify;
	font-size: 12px;
	padding: 45px;
	background-color: #2424248f;
	color: aliceblue;
	margin-top: -20px;
}

a {
	&:link {
		text-decoration: none;
		color: #aba992;
	}

	&:visited {
		color: #aba992;
	}

	&:hover {
		color: aliceblue;
	}
}

#proyectos {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	padding: 13px;
	text-align: center;
	font-size: 12px;
	font-weight: bolder;
	background-color: #1f1f1fc2;
	margin-top: -20px;
}

@media screen and (max-width: 830px) {
	#form {
		height: auto;
		text-align: center;
	}

	.texto {
		margin-top: 10px;
		padding: 35px;
	}

	.nosotros {
		grid-template-columns: 1fr 1fr;
		margin-top: 10px;
		padding: 35px;
		grid-column-gap: 35px;
		font-size: 10px;
	}

	#proyectos {
		grid-template-columns: 1fr 1fr 1fr;
		margin-left: 100px;
		margin-right: 100px;
		border-radius: 2px;
		margin-top: 10px;
	}

	header {
		.logo {
			width: 100%;
			text-align: center;
			line-height: 80px;
			margin-left: 0px;
		}

		nav {
			width: 100%;
			text-align: center;
			line-height: 55px;
			margin-right: 0px;
		}
	}
}

@media screen and (max-width: 586px) {
	#proyectos {
		grid-template-columns: 1fr 1fr;
		font-size: 10px;
		text-align: center;
	}

	.texto {
		grid-template-columns: 1fr;
		margin-top: 10px;
		padding: 35px;
	}

	.logo {
		width: 100%;
		text-align: center;
		/*font-size-adjust:80%;*/
		font-size: 15px;
	}

	.nosotros {
		grid-template-columns: 1fr;
		font-size: 10px;
	}
}

@media screen and (max-width: 380px) {
	#proyectos {
		text-align: center;
		grid-template-columns: 1fr;
		font-size: 9px;
		border-radius: 2px;
	}

	.logo {
		width: 100%;
		text-align: center;
	}

	.logo {
		text-align: center;
		font-size: 20px;
	}

	.texto {
		font-size: 10px;
	}
}


@media (max-width: 768px) {
	.footer-container {
		padding: 2rem;
		flex-direction: column;
	}

	.footer-content-container {
		width: 100%;
		padding: 2rem 0;
		justify-content: center;
		align-items: center;

		&:nth-of-type(1) {
			align-items: flex-start;
		}

		&:nth-of-type(3) {
			border-bottom: none;
			padding-bottom: 0;
		}
	}

	.footer-menus {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		.footer-content-container {
			&:nth-of-type(1) {
				width: 45%;
				align-items: flex-start;
				border-bottom: none;
			}

			&:nth-of-type(2) {
				width: 45%;
				align-items: flex-start;
				border-bottom: none;
			}
		}
	}
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	height: fit-content;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: var(--dark);
	color: white;
	background-color: #20202000;
	font-size: 12px;

	.social-link {
		&:nth-of-type(2) {
			background-image: url(/moreno/imagenes/icons8-twitter-64.png);
		}

		&:nth-of-type(3) {
			background-image: url(/moreno/imagenes/icons8-instagram-48.png);
		}
	}
}

.copyright-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: aliceblue;

	.copyright {
		font-weight: 400;
		padding: 10px 0;
	}
}

.social-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	width: 100%;

	.social-link {
		height: 100%;
		width: 30px;
		background-image: url(/moreno/imagenes/icons8-facebook-f-50.png);
		background-size: 70%;
		background-position: center;
		margin-right: 1rem;
		background-repeat: no-repeat;

		&:hover {
			opacity: 0.3;
		}
	}
}